################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BowlFrame/obj
/CocoaFunc/obj
/BowlFrame/bin/Debug/net6.0
/CocoaFunc/bin/Debug/net6.0
/BowlFrame/bin/Debug/net8.0
/CocoaFunc/bin/Debug/net8.0
